<div class="jumbotron">
  <div class="container">
    <h1><%= candidate[:name] %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>得票数</h2>
      <p><%= votes %></p>
      <h2>政党</h2>
      <p><%= candidate[:political_party] %></p>
      <h2>性別</h2>
      <p><%= candidate[:sex] %></p>
      <h2>支持者の声</h2>
      <ul>
        <% keywords.each do |keyword| %>
          <li><%= keyword %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
